@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoBoutique.Services.Interfaces;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject IServiceProvider _serviceProvider;

@{
    var _cartService = _serviceProvider.GetService(typeof(ICartService)) as ICartService;
    var cartItems = _cartService.Carts()?.ToList();
}

<div id="cart_panel" class="slide-out-panel">
    <div class="cart_panel_main">
        <header>
            <div class="d-flex justify-content-center">
                <h5>CART</h5>
            </div>
        </header>
        <section class="cart_main">
            <div class="cart_list">
            </div>
        </section>
        <footer>
            <div class="cart_controls">
                <div class="row">
                    @{
                        var checkOutPage = Umbraco.Content(Constants.DocumentContent.Key.CheckOutPage);
                    }
                    
                    <a id="btnCheckoutCart" href="@checkOutPage.Url()" class="btn btn-lg btn-outline-dark">CHECK OUT</a>
                </div>
            </div>
        </footer>
    </div>
</div>